.tableFrame th {
	text-transform: capitalize;
}

.tableFrame th.selectedForSortAZ {
	background-color: yellow;
}

.tableFrame th.selectedForSortZA {
	background-color: red;
}

.tableFrame th input.textFilter {
	width: 95%;
}

.tableFrame th input.numberFilter {
	width: 40px;
}