.tableFrame {
	border-collapse: separate;
	border-spacing: 0px 0px;
	width: 100%;
}

.tableFrame th {
	text-transform: capitalize;
	vertical-align: bottom;
	text-align: left;
	position: sticky;
	top: 0;
	background-color: #FFF;
}

.tableFrame th.headerClearFilter {
	width: 160px;
}
.tableFrame td {
	height: 25px;
}

.tableFrame th svg {
	vertical-align: middle;
	fill: #DDD;
}

.tableFrame th.selectedForSortAZ svg .upArrow {
	fill: #000;
}

.tableFrame th.selectedForSortZA svg .downArrow {
	fill: #000;
}

.tableFrame th input.textFilter {
	width: 95%;
}

.tableFrame th input.numberFilter {
	width: 40px;
}

.tableFrame tr.recordRow:hover td.recordActions,
.tableFrame td.recordActions:hover {
	display: table-cell;
}

.tableFrame td.recordActions {
	display: none;
}

.numOfRecordsHolder {
	float: left;
	width: 50%;
}

.pageNavigation {
	float: right;
	text-align: right;
	width: 50%;
}